@model List<IndexPost>
@{
    ViewData["Title"] = "Index";
}
@foreach (IndexPost item in Model.Take(2))
{
    <div class="product-item">
        <div class="gallery-item full-width" style="background-image: url('@Url.Content($"~/assets/photos/sliders/{item.Image}")');">
            @if (item.ProductId != null && item.ProductId > 0)
            {
                <a asp-controller="store" asp-action="product" asp-route-id="@item.ProductId" class="gallery-item-learnmore"></a>
            }
            else
            {
                <a asp-action="shop" asp-controller="store" class="gallery-item-learnmore"></a>

            }
            <div class="gallery-item-content-holder">
                <div class="info-content">
                    <h2 class="mainhead">@item.MainHead</h2>
                    <h3 class="subhead">@item.SubHead </h3>
                    <div class="info-content-links">
                        @if (item.ProductId != null && item.ProductId > 0)
                        {
                            <a asp-controller="store" asp-action="product" asp-route-id="@item.ProductId"><span>Learn More</span><i class="fa-solid fa-angle-right"></i></a>
                            <a asp-controller="store" asp-action="product" asp-route-id="@item.ProductId"><span>Buy</span><i class="fa-solid fa-angle-right"></i></a>
                        }
                        else
                        {
                            <a asp-action="shop" asp-controller="store"><span>Shop Now</span><i class="fa-solid fa-angle-right"></i></a>
                            
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>

}
<div class="highlights">
    @foreach (IndexPost item in Model.Skip(2).Take(4))
    {
        <div class="product-item">
            <div class="gallery-item half-width" style="background-image: url('@Url.Content($"~/assets/photos/sliders/{item.Image}")');">
                
                @if (item.ProductId != null && item.ProductId > 0)
                {
                    <a asp-controller="store" asp-action="product" asp-route-id="@item.ProductId" class="gallery-item-learnmore"></a>
                }
                else
                {
                    <a asp-action="shop" asp-controller="store" class="gallery-item-learnmore"></a>

                }
                <div class="gallery-item-content-holder">
                    <div class="info-content">
                        <h2 class="mainhead">@item.MainHead</h2>
                        <h3 class="subhead">@item.SubHead</h3>
                        <div class="info-content-links">
                            @if (item.ProductId != null && item.ProductId > 0)
                            {
                                <a asp-controller="store" asp-action="product" asp-route-id="@item.ProductId"><span>Learn More</span><i class="fa-solid fa-angle-right"></i></a>
                                <a asp-controller="store" asp-action="product" asp-route-id="@item.ProductId"><span>Buy</span><i class="fa-solid fa-angle-right"></i></a>
                            }
                            else
                            {
                                <a asp-action="shop" asp-controller="store"><span>Shop Now</span><i class="fa-solid fa-angle-right"></i></a>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

