@model PageNatedList<Specification>
@{
    int count = 0;
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Created By</th>
            <th>Products Count</th>
            <th>Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Specification specification in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@specification.Name</td>
                <td>@specification.CreatedAt.ToString("dd-MMM-yyyy").ToUpper()</td>
                <td>@specification.CreatedBy</td>
                <td>@specification.ProductSpecs?.Count()</td>
                <td>
                    <a asp-area="manage" asp-controller="specification" asp-action="detail" asp-route-id="@specification.Id" class="btn btn-primary">Detail</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                    {
                        <a asp-area="manage" asp-controller="specification" asp-action="update" asp-route-id="@specification.Id" class="btn btn-warning">Update</a>
                        <a asp-area="manage" asp-controller="specification" asp-action="delete" asp-route-id="@specification.Id" class="btn btn-danger deleteBtn">Delete</a>


                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="col-lg-12">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.HasPrev)
            {
                <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="specification" asp-action="index" asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a></li>
            }
            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")"><a class="page-link" asp-area="manage" asp-controller="specification" asp-action="index" asp-route-pageIndex="@i">@i</a></li>

            }
            @if (Model.HasNext)
            {
                <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="specification" asp-action="index" asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a></li>
            }
        </ul>
    </nav>
</div>

