@model List<Product>
@{
    List<Compare> compares = ViewBag.Compares;
}
@foreach (Product product in Model)
{
    <div class="shop-list-item">
        <div class="sli-top">
            <div class="sli-badge badge-orange">
                Gift with purchase
            </div>
            <a href="">
                <img src="~/assets/photos/products/@product.MainImage" alt="">

            </a>
            <div class="compare-btn">
                <div class="form-check filter">
                    @if (compares != null && compares.Count > 0)
                    {
                        if (compares.Any(c=>c.ProductId == product.Id))
                        {
                            <input class="form-check-input-2 addcompare" type="checkbox" checked value="" data-value="@product.Id">
                        }
                        else{

                            <input class="form-check-input-2 addcompare" type="checkbox" value="" data-value="@product.Id">
                        }
                    }
                    else
                    {
                        <input class="form-check-input-2 addcompare" type="checkbox" value="" data-value="@product.Id">
                    }

                    <label class="form-check-label">
                        Compare
                    </label>
                </div>
            </div>
        </div>
        <div class="sli-bottom">
            <div class="sli-desc">
                <a href="" class="sli-title">
                    @product.Title
                </a>
                <div class="sli-details">
                    <ul>
                        @foreach (ProductSpec ps in product.Specifications)
                        {
                            <li>@ps.Specification.Name</li>
                        }
                    </ul>
                </div>
                <a href="" class="sli-link">View details ></a>
            </div>
            <div class="sli-price-btn">
                <div class="sli-price">
                    @if (product.DiscountedPrice != product.Price)
                    {
                        @Html.Raw($"US${product.DiscountedPrice}")

                        <span style="text-decoration:line-through;display:inline-block;margin-left:5px;">US$@product.Price</span>
                    }
                    else
                    {
                        @Html.Raw($"US${product.Price}")
                    }
                </div>
                <div class="sli-btn">
                    @if (product.Count > 0 && product.Count != null)
                    {
                        <a asp-controller="basket" asp-action="addbasket" asp-route-Id="@product.Id" class="add-to-cart-btn addbasket">
                            Add to cart
                        </a>
                    }
                    else
                    {
                        <span class="sli-outofstock">Out of Stock</span>

                    }
                </div>
            </div>
        </div>
    </div>

}