@model DashVM
@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    
    <div class="row">
        <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <div class="d-flex align-items-center align-self-start">
                                <h3 class="mb-0">$@Model.Growth</h3>
                                <p class="text-success ms-2 mb-0 font-weight-medium">+@Model.PotensialGrowth%</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="icon icon-box-success ">
                                <span class="mdi mdi-arrow-top-right icon-item"></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Potential growth</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <div class="d-flex align-items-center align-self-start">
                                <h3 class="mb-0">$@Model.Revenue</h3>
                                <p class="text-success ms-2 mb-0 font-weight-medium">+@Model.RevenuePerc%</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="icon icon-box-success">
                                <span class="mdi mdi-arrow-top-right icon-item"></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Revenue current</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <div class="d-flex align-items-center align-self-start">
                                <h3 class="mb-0">$@Model.Income</h3>
                                <p class="@(Model.Income >= Model.YesIncome ? "text-success": "text-danger") ms-2 mb-0 font-weight-medium">@(Model.Income >= Model.YesIncome ? "+" : "-")@Model.IncomePerc%</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="icon icon-box-danger">
                                <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Daily Income</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Transaction History</h4>
                    <div class="d-none">
                        @foreach (TrVM item in Model.Transactions)
                        {
                            <input class="tr_inputs" value="@item.TotalSale" data-category="@item.CategoryName" data-count="@item.OrderCount" hidden />
                        }
                    </div>
                    <canvas id="transaction-history" class="transaction-chart"></canvas>
                    @foreach (TrVM item in Model.Transactions)
                    {
                        <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                            <div class="text-md-center text-xl-left">
                                <h6 class="mb-1">Payment on @item.CategoryName</h6>
                                <p class="text-muted mb-0">Count: @item.OrderCount</p>
                            </div>
                            <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                                <h6 class="font-weight-bold mb-0">$@item.TotalSale</h6>
                            </div>
                        </div>
                    }
                    
                    
                </div>
            </div>
        </div>
        
    
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Order Status</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="form-check form-check-muted m-0">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input">
                                            </label>
                                        </div>
                                    </th>
                                    <th> Client Name </th>
                                    <th> Order No </th>
                                    <th> Product Cost </th>
                                    <th> Payment Mode </th>
                                    <th> Start Date </th>
                                    <th> Payment Status </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Order item in Model.Orders.OrderByDescending(o=>o.CreatedAt).Take(5))
                                    {
                                        <tr>
                                            <td>
                                                <div class="form-check form-check-muted m-0">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                @if (string.IsNullOrWhiteSpace(item.User.ProfileImage))
                                                {
                                                    <img src="~/assets/photos/profile/c0c539da-7912-4d22-8a9a-95314dff15a3.png" alt="image" />
                                                }
                                                else
                                                {
                                                    <img src="~/assets/photos/profile/@item.User.ProfileImage" alt="image" />

                                                }
                                                <span class="ps-2">@item.User.Name @item.User.SurName</span>
                                            </td>
                                            <td> @item.No </td>
                                            <td> $@item.OrderItems.Sum(o=>o.Price * o.Count) </td>
                                            <td> Credit card </td>
                                            <td> @item.CreatedAt.ToString("dd MMM yyyy") </td>
                                            <td>
                                                <div class="badge @(item.Status.ToString() == "Accepted" ? "badge-outline-success": item.Status.ToString() == "Rejected" ? "badge-outline-danger" : "badge-outline-warning")">@item.Status.ToString()</div>
                                            </td>
                                        </tr>

                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Visitors by Countries</h4>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        @foreach (Countries item in Model.Countries)
                                            {
                                                <tr>
                                                    <td>@item.ToString()</td>
                                                    <td class="text-right"> @(Model.Orders.Where(o=>o.CustomAddress?o.Country.ToString() == item.ToString() :o.SingleAddress.Country.ToString() == item.ToString()).Count()) </td>
                                                    <td class="text-right font-weight-medium"> @((int)((double)(Model.Orders.Where(o => o.CustomAddress ? o.Country.ToString() == item.ToString() : o.SingleAddress.Country.ToString() == item.ToString()).Count()) / (double)Model.Orders.Count * 100))% <input class="d-none ordersinput" hidden value="@((int)((double)(Model.Orders.Where(o => o.CustomAddress ? o.Country.ToString() == item.ToString() : o.SingleAddress.Country.ToString() == item.ToString()).Count()) / (double)Model.Orders.Count * 100))" data-ct="@($"{item.ToString().ToUpperInvariant()[0]}{(item.ToString().ToUpperInvariant()[0] == 'T' ? 'R' : item.ToString().ToUpperInvariant()[1])}")" /> </td>
                                                </tr>
                                            }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div id="audience-map" class="vector-map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

